
body{
    padding: 1em;
    background: -webkit-linear-gradient(45deg, rgb(150, 9, 249), rgb(81, 10, 66));
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

.shop-name {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Montserrat', serif;
    font-weight: 700;
    color: #FFFFFF;
}

.button {
    cursor: pointer;
}

.Test {
}